body {
    background-color: #cbe0ba;
    background-image: url(./assets/background.png);
    background-repeat: repeat;
    background-size: 50%;
    margin: 2%;
    padding: 0;
    overflow: hidden;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

element {

    -webkit-touch-callout: none;

}

.title {
    text-align: center;
}

.topbtn {
    background: none;
    -webkit-appearance: none;
    display: block;
    left: 0;
    background-color: #ccddce;
    border-color: beige;
    padding-left: 2%;
    padding-bottom: 2%px;
    padding-right: 2%;
    outline: none;
    border-radius: 0.2rem;
    border-style: solid;
    list-style-type: none;
    color: white;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    height: 30px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

h1 {
    font-weight: 800;
    font-size: 7vh;
    text-align: center;
    color: #80aa88;
    -webkit-text-stroke-color: #685137;
    -webkit-text-stroke-width: 2px;
    margin: 0%;
}

h2 {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: -15px;
    font-size: 6vh;
    color: #f4d087;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1.5px;
}

.mines-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#gTable {
    margin: 0;
    width: 300px;
    height: 300px;
    background-color: #f9f4ea;
    border-color: #8c6e62;
    border-style: solid;
    border-width: 5px;
    border-radius: 0.5em;
}

.mines {
    background: #9bce9c;
    border-color: #537c58;
    border-style: solid;
    border-radius: 0.2rem;
    border-width: 3px;
}

/*变成空地后的class*/
.floor {
    border-style: solid;
    border-radius: 0.2rem;
    border-width: 3px;
    background-color: transparent;
    border-color: transparent;
}

/*变成胡萝卜的class*/
.orange {
    border-style: solid;
    border-radius: 0.2rem;
    border-width: 3px;
    border-color: transparent;
    background-image: url("./assets/orange.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/*变成白萝卜的class*/
.white {
    border-style: solid;
    border-radius: 0.2rem;
    border-width: 3px;
    border-color: transparent;
    background-image: url("./assets/white.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/*变成邀请卡的class*/
.welcome {
    border-style: solid;
    border-radius: 0.2rem;
    border-width: 3px;
    border-color: transparent;
    background-image: url("./assets/welcome.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.yTable {
    width: 300px;
    height: 300px;
    position: relative;
    margin-top: -300px;
    overflow-x: hidden;
    overflow-y: scroll;
    pointer-events: none;
}

.yTable::-webkit-scrollbar,
.ranklist::-webkit-scrollbar,
#rankcontainer::-webkit-scrollbar {
    display: none
}

/*变成梯仔的class*/
.you-column:hover,
.you-column:active {
    /* height: max-content; */
    /* background-image: url(./assets/boy.png);
    background-repeat: round;
    background-size: 100%; */
}

.gaming {
    /* visibility: hidden; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-top: 8px;
    /* position: absolute; */
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.white_carrot {
    width: 9vh;
    height: 13vh;
    background-image: url(./assets/big.png);
    background-repeat: round;
    background-size: 100%;
}

#statistics {
    font-size: 6.6vh;
    font-weight: 1000;
    color: #607c60;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 12px;
}

#ge {
    font-size: 7vh;
    font-weight: 700;
    color: #8e7966;
}

.start_cover {
    display: none;
    margin-top: 2%;
    padding: 0%;
}

.rules>p {
    text-align: left;
    margin: 0;
    font-size: 2.3vh;
    padding-left: 6px;
}

.rules {
    background-color: white;
    border-color: black;
    border-style: solid;
    padding: 1%;
    width: max-content;
    border-radius: 0.5rem;
    z-index: 4;
    height: max-content;
}

.rules::before {
    content: " ";
    width: 0;
    height: 0;
    display: block;
    border-left: 28px solid black;
    border-bottom: 6px solid transparent;
    border-right: 15px solid transparent;
    border-top: 18px solid transparent;
    position: relative;
    top: 15px;
    left: 294px;
}

.rules::after {
    content: " ";
    width: 0;
    height: 0;
    display: block;
    border-left: 25px solid white;
    border-bottom: 6px solid transparent;
    border-right: 15px solid transparent;
    border-top: 18px solid transparent;
    position: relative;
    top: -63px;
    left: 290px;
}

.boy {
    width: 50%;
    height: 35vh;
    background-color: white;
    position: relative;
    float: right;
    top: -180px;
    margin: 0;

}

/*显示游戏规则*/
td {
    display: none;
    cursor: pointer !important;
}

#yTable {
    background-image: url("./assets/rule.png");
    background-size: 94%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer !important;
}

#rankcontainer {
    width: 300px;
    position: relative;
    margin-top: 0px;
    overflow-x: hidden;
    background-color: #f9f4ea;
    border-color: #8c6e62;
    border-style: solid;
    border-width: 5px;
    overflow-y: scroll;
    background-size: 96%;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

#start {
    background-color: #f4d087;
    border-color: #825b3f;
    border-width: 4px;
    padding-left: 8px;
    padding-bottom: 2%;
    padding-right: 8px;
    outline: none;
    border-radius: 0.2rem;
    border-style: solid;
    list-style-type: none;
    color: white;
    font-weight: 900;
    font-size: 4vh;
    text-align: center;
    position: relative;
    /* padding: 5px; */
    /* bottom: 30px; */
    /* right: 12vw; */
    float: right;
    width: auto;
    right: -20px;
}

#start:active {
    box-shadow: inset 5px 3px 8px 3px #ad7c30;
}

td:active {
    box-shadow: inset 3px 4px 7px 2px #5e9062;
}

#attentionbox {
    text-align: center;
    background-color: orange;
    opacity: 0.76;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    width: 300px;
    /* margin-right: 15px; */
    padding: 5px;
    height: max-content;
    /* flex: auto; */
    /* align-items: inherit; */
    position: fixed;
    top: 8vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 64px;
    border-radius: 1rem;

    visibility: hidden;
}

#attcha,
.chacha {
    width: 30px;
    position: absolute;
    right: 0;
    margin: 5px;
}

.chacha::before {
    content: " ";
    width: 50px;
    height: 50px;
    display: inline;
}

.icon_att {
    width: 40px;
    position: relative;
    float: left;
    margin-left: 4px;
}

#attention {
    white-space: nowrap;
    /* position: absolute; */
    /* height: 20px; */
    overflow-x: scroll;
    color: white;
    /* margin: 0; */
    padding: 0;
    font-size: 20px;
    height: min-content;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    width: 200px;
    margin-bottom: 17px;
    margin-top: 17px;
}

@keyframes shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(5px);
    }
}

@-webkit-keyframes shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(5px);
    }
}

#attentionbox:hover,
#attentionbox:active {
    animation: shake 1s linear forwards;
    -webkit-animation: shake 1s linear forwards;

}

.ranklist {
    background-color: #f9f4ea;
    border-color: #8c6e62;
    border-style: solid;
    border-width: 5px;
    /* border-radius: 0.5em; */
    border-bottom-width: 0;
    border-right-width: 0;
    z-index: 100;
    display: inline-block;
    float: left;
    color: #8c6e62;
    /* font-size: 20px; */
    text-align: center;
    padding: 3px;
    height: 30px;
    position: relative;
    /* margin-top: 5px; */
    /* padding-bottom: 0px; */
    width: max-content;
    margin-left: -4px;
    /* top: 0; */
    padding-left: 10.5px;
    padding-right: 11.5px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.rankhead {
    background-color: #f9f4ea;
    border-color: #8c6e62;
    border-style: solid;
    border-width: 5px;
    /* border-radius: 0.5em; */
    border-top-width: 0;
    border-right-width: 0;
    z-index: 100;
    display: inline-block;
    float: left;
    color: #8c6e62;
    /* font-size: 20px; */
    text-align: center;
    padding: 3px;
    height: 30px;
    position: relative;
    /* margin-top: 5px; */
    /* padding-bottom: 0px; */
    width: max-content;
    margin-left: -4px;
    /* top: 0; */
    padding-left: 10.5px;
    padding-right: 11.5px;
}

.rankcaption {
    display: inline-block;
    height: 38px !important;
}

.rankline {
    height: 38px !important;
    display: block;
    margin: 0;
    position: relative;
    margin-top: -5px;
    /* margin-bottom: 5px; */
}

#rankitem1 {
    width: 32px;
}

#rankitem2 {
    width: 48px;
}

#rankitem3,
#rankitem4 {
    width: 64px;
}

#dengji_img>img {
    width: 180px;
    margin-top: 5px;
    /* float: right; */
    position: relative;
    right: -60px;
    pointer-events: none;
}

.ranktable {
    height: auto;
    background-color: #f9f4ea;
    border-color: #8c6e62;
    border-style: solid;
    border-width: 5px;
    border-radius: 0.5em;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#welcomebox {
    z-index: 100;
    position: fixed;
    top: 20vh;
    left: 0;
    right: 0;
    width: 300px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
}

a {
    text-decoration: none;
    color: white;
    position: relative;
    padding-top: 5px;
    margin-bottom: -50px;
    font-size: 20px;
}

#welcomebox2 {
    background-image: url(./assets/letter.png);
    width: 180px;
    position: relative;
    background-repeat: round;
    background-size: cover;
    left: 50px;
    padding: 10px;
    padding-right: 10px;
    text-align: left;
    white-space: normal;
    height: 400px;
    word-wrap: break-word;
    overflow-y: scroll;
    padding-bottom: 30px;
}

.welcometext {
    font-size: 20px;
    margin: 0;
    color: chocolate;
    margin-top: -5px;
    margin-bottom: 5px;
}

span.welcometext {
    font-weight: 800;
}

#completebox {
    z-index: 200;
    background: bisque;
    opacity: 0.85;
    width: 300px;
    /* height: 420px; */
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 1.2rem;
    /* flex: auto; */
    /* align-items: center; */
    position: fixed;
    top: 27vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    display: none;

}

h4 {
    color: chocolate;
    font-size: 25px;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 10px;
}

.yours {
    color: brown;
    font-size: 100%;
    padding: 10px;
    margin: 0;
    margin-left: 10px;
    margin-right: 15px;
}

p.show {
    padding-left: 20px;
}

.showlist,
.currentlist {
    display: flex;
    list-style: none;
    width: 270px;
    margin: 0;
}

.table_title {
    margin-right: 10px;
    position: relative;
    width: 60px;
    height: 35px;
    white-space: pre;
}

li.show {
    color: brown;
    margin-left: 4px;
    margin-right: 1px;
    position: relative;
    width: 60px;
    height: 35px;
    white-space: pre;
}

#finaltext {
    position: relative;
    bottom: -50px;
    float: right;
    right: 100px;
    font-size: 150%;
    color: chocolate;
}

#completepic {
    width: 80%;
    padding: 10px;
    position: relative;
    top: 20px;
    margin-left: 15px;
    margin-right: auto;
}