.tizai{
    z-index: 20;
    position: absolute;
    height: 60vh;
    bottom: -80px;
    right: -25px;
}
h3{
    font-family: serif;
    color: white;
    float: right;
    height: 20px;
    margin: 0;
    position: relative;
    z-index: 20;
}
.loading{
    z-index: 15;
    position: absolute;
    top: 0;
    height: -webkit-fill-available;
    right: 0;
}
#loadingbox{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-color: darkslategray;
    margin: 0;
    position: fixed;
    padding: 0;
    border: 0;
    opacity: 0.6;
}
.hello{
    color: white;
    z-index: 20;
    position: fixed;
    font-size: 4vh;
    text-align: left;
    margin-top: 240px;
    /* padding: 20px; */
    margin-left: -100px;
}